RBERP/Service References/PBService/EmployeeRegistrationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Landmark.Indirect.DataLogicLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Landmark.Indirect.DataLogicLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContacts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contacts" nillable="true" type="tns:Contacts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContacts" nillable="true" type="tns:ArrayOfContacts" />
  <xs:complexType name="Contacts">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPinCode" type="xs:int" />
      <xs:element minOccurs="0" name="DesignationID" type="xs:short" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="RelationId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contacts" nillable="true" type="tns:Contacts" />
</xs:schema>